
*{
    padding: 5px;
    margin: 5px;
}


.password-container {
  position: relative;
  display: inline-block;
}

.password-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.password-container .toggle-password{
  position: absolute;
  top: 45%;
  right: 3px;
  cursor: pointer;
  transform: translateY(-50%);
  img{
    width: 10px;
  }
}

.hidden{
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}
