
*{
    padding: 5px;
    margin: 5px;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.menu {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: right;
  justify-content: space-between;
}

.burger {
  width: fit-content;
  font-family: poppins;
  font-size: 32px;
  font-weight: 600;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.navbar{
  display: flex;
  flex-direction: row;
}

#menu {
  display: none;
}

.burger label {
  display: none;
}

.items {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  width: 100px;
  padding: 10px 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5mm;
  font-family: poppins;
  font-size: 16px;
  text-decoration: none;
}

.password-container {
  position: relative;
  display: inline-block;
}

.password-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.password-container .toggle-password{
  position: absolute;
  top: 45%;
  right: 3px;
  cursor: pointer;
  transform: translateY(-50%);
  img{
    width: 10px;
  }
}

.hidden{
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}
