.menu {
  flex-direction: column;
}

.burger {
  display: flex;
}

.menu .burger {
  width: 100%;
}
.menu .burger label {
  display: block;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
}
.menu .burger label::before {
  position: absolute;
  content: "menu";
  font-family: "Material Icons";
  top: 0;
  left: 0;
  font-size: 30px;
}
.menu .navbar {
  width: 100%;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.menu .item {
  width: 100%;
  padding: 15px;
  border-radius: 0;
  border-top: 0.5mm solid rgb(52, 53, 71);
}
